.tech-skills-title {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
}

.tech-skills-container {
  margin-left: 40px;
  // margin-top: 55px;
  margin-right: 40px;
}

.tech-skills-list {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 15px;
  /* color: #ff6b08; */
  color: #2196f3;
}

.sidebar-list-text {
  color: #c8cacd;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.soft-skills-container {
  margin-left: 40px;
  margin-top: 55px;
  margin-right: 40px;
  margin-bottom: 376px;
}

.soft-skills-title {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
}

.soft-skills-list {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 15px;
  /* color: #ff6b08; */
  color: #2196f3;
}

.rank {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  margin-bottom: 20px;
}

.info-container {
  position: relative;

  margin-bottom: 65px;
}

.aboutme-title {
  color: #000000;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 30px;

  position: relative;
  z-index: 100;
}

.project-link {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
}

.dots {
  color: #a8a8a8;
  font-weight: 100;
}
.project-list {
  margin-left: 18px;
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.project-container {
  margin-bottom: 55px;
}

.prof-title {
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 8px;
  margin-bottom: 15px;
}

.company {
  color: #2196f3;
  /* color: #ff7d26; */
}

.date {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}

.divider {
  color: #000000;
}

.prof-duties {
  margin-top: 14px;
  margin-bottom: 30px;
}

.prof-duties-item {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.univer {
  margin-top: 20px;
  // margin-bottom: 15px;
  color: #2196f3;
  /* color: #ff7d26; */
}

.univer-grade {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  // margin-bottom: 15px;
}

.education-margin {
  position: relative;

  margin-top: 65px;
}
